.input{
    display: flex;
}
.inpt{
    width: 360px;
    height: 50px;
    color: black;
    border: none;
}
.input button{
    width: 120px;
    height: 50px;
    background-color: black;
    border: 1px solid white;
    color: white;

}